<!doctype html>
<html lang="cs">
<head>
  <meta charset="utf-8">

  <title>{%block title%}Home{%endblock%}</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='nyan.gif') }}" />

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>

<body>
<p>
{% if 'user' in session %}
Uživatel: {{ session['user'] }}. 
<a href="{{ url_for('logout') }}">Logout</a>
{% else %}
Nikdo není přihlášen.
{% endif %}
</p>
<p><a href="{{ url_for('root')}}"><img class="logo" src="{{ url_for('static', filename='logo.jpeg') }}"></a></p>
<nav>
  <p class="link"><a href="{{ url_for('root') }}">Home</a><a href="{{ url_for('upload') }}">Upload</a><a href="{{ url_for('abc') }}">Pes</a><a href="{{ url_for('spenat') }}">Kočka</a><a href="{{ url_for('vzkazy') }}">Vzkazy</a><a href="{{ url_for('login') }}">Login</a><a href="{{ url_for('register') }}">Register</a><a href="{{ url_for('secret') }}">SUPER SECRET STUFF</a></p>
</nav>

{% for category, message in get_flashed_messages(with_categories=True) %}
<p class="message {{ category }}">{{ message }}</p>
{% endfor %}

{% block obsah %}

<p><img src="{{ url_for('static', filename='nyan.gif') }}"/></p>

{% include "links.html" %}



{% endblock obsah %}
</body>
</html>