{% extends 'base.html' %}

{%block title%}Upload{%endblock title%}

{% block obsah %}

<h1>Upload file(s)</h1>

<form method="post" enctype="multipart/form-data">
    Titulek: <input type="text" name="title">
    <input type="file" name="file">
    <input type="submit" value="upload">
</form>

<h2>Gallery</h2>

{%for filename, data, ext in response%}
    <p>
        {{filename}}
        <img src="data:{{ext}};base64,{{data}}" alt="" style="max-width:88;">
    </p>
{%endfor%}

{% endblock obsah %}