{% extends 'base.html' %}

{%block title%}vzkazy{%endblock title%}

{% block obsah %}
<h1>Vzkazy</h1>

<form method="post">
    <h2>Vložit vzkaz</h2>
    <textarea name='vzkaz' rows='7' cols='80'></textarea>
    <p>
        <button type='submit'>Odeslat</button>
        <button type='reset'>Vymazat</button>
    </p>
</form>

<h2>Nástěnka</h2>
{%for login, body, datetime, id in response%}
    <div class="vzkaz">
        <p class="head"> <strong>{{login}}</strong> -_-_-_- {{d.fromisoformat(datetime).strftime('%d.%_m.%Y %H:%M')}}</p>
        {%if session['user']==login%}
        <form action="{{url_for('vymaz_vzkaz')}}" method="post">
            <input type="hidden" name="id" value="{{id}}">
            <button type="submit">Vymazat</button>
        </form>
        <form action="{{url_for('editovat', _id=id)}}" method="get">
            <button type="submit">Editovat</button>
        </form>
        {%endif%}
        <pre class="body">{{body}}</pre>
    </div>
{%endfor%}
{% endblock obsah %}
